# grafana.ini

# [server]
GF_SERVER_ROOT_URL = http://localhost:8000
GF_SERVER_SERVE_FROM_SUB_PATH = true

# [auth.generic_oauth]
GF_AUTH_GENERIC_OAUTH_ENABLED = true
GF_AUTH_GENERIC_OAUTH_CLIENT_ID = change_me
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET = change_me
GF_AUTH_GENERIC_OAUTH_SCOPES = read

# [auth] to fix generic_oauth
GF_AUTH_OAUTH_ALLOW_INSECURE_EMAIL_LOOKUP=true

# Url from adolescent_web doorkeeper
GF_AUTH_GENERIC_OAUTH_AUTH_URL = http://192.168.1.126:3000/oauth/authorize
GF_AUTH_GENERIC_OAUTH_TOKEN_URL = http://192.168.1.126:3000/oauth/token
GF_AUTH_GENERIC_OAUTH_API_URL = http://192.168.1.126:3000/oauth/token/info

GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP = false
GF_AUTH_GENERIC_OAUTH_NAME = Adolescent Web

# [log]
GF_LOG_LEVEL=debug

# [users]
GF_USERS_ALLOW_SIGN_UP = false
GF_USERS_AUTO_ASSIGN_ORG = true
GF_USERS_AUTO_ASSIGN_ORG_ROLE = Viewer

# [plugins]
GF_INSTALL_PLUGINS=https://github.com/hengsokly/alexandra-trackmap-panel/archive/refs/heads/geospatial-map.zip;alexandra-trackmap-panel,yesoreyeram-boomtheme-panel
GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=alexandra-trackmap-panel
